LAB5_2347263/christ.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="master_programs">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="program" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="program_name" type="xs:string" />
              <xs:element name="courses" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="course_name" type="xs:string"  maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
